* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offer {
    background: linear-gradient(to right, #000000, #e74c3c);
    padding: 10px 0;
    color: white;
    text-align: center;
}
/* ------- Nav Section Start ------- */
nav {
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    padding-block: 15px;
    position: sticky;
    top: 0;
    color: white;
}

nav h5{
    display: inline-block;
    margin-inline: 15px;
    cursor: pointer;
}

nav input{
    border:none;
    width: 30%;
    font-size: larger;
}

nav input:focus{
    outline: none;
}

nav span{
    background-color: #0000001a;
    padding: 2px;
    cursor: pointer;
}

/* ------- Nav Section End ------- */

/* ------- Sale (main) Section Start ------- */

.sale{
    background:url("https://static01.nyt.com/images/2021/03/30/multimedia/28xp-shoes-09/28xp-shoes-09-superJumbo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6% 10%;
    color: #ffffff;
    font-size: larger;
}
.sale header{
    width: 70%;
    background-color: #00000066;
    padding: 2%;

}

/* ------- Sale (main) Section End ------- */